footer{
    position:absolute;
    bottom:0;
    display:block;  
    width:100%
}
.background{
    display: flex;
    height: 90vh;
    background-image: url('./images/back2.png');
    background-size: cover;
    opacity: 70%;
}
.background1{
    display: flex;
    height: 90vh;
    background-image: url('./images/back1.png');
    background-size: cover;
    opacity: 70%;
}
.background2{
    display: flex;
    height: 90vh;
    background-image: url('./images/back4.png');
    background-size: cover;
    
}
.background3{
    display: flex;
    height: 90vh;
    background-image: url('./images/back3.png');
    background-size: cover;
    
}